body {
  background-color: #fafafa;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h4 {
  font-weight: 400;
  font-style: normal;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  position: relative;
  z-index: 10;
  background-color: #fafafa;
}

.nav-menu {
  display: flex;
  list-style: none;
  margin: 0 0 0 80px;
  padding: 0;
}

.nav-menu li {
  margin-left: 10px;
  padding-left: 40px;
}

.nav-menu li a {
  text-decoration: none;
  color: #333;
}

.hamburger-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  right: 20px;
}

.hamburger-toggle span {
  height: 3px;
  width: 100%;
  border-radius: 10px;
  background-color: #333;
  transition: all 0.3s ease;
}

.hamburger-toggle.active .bar-1 {
  transform: rotate(-45deg) translate(-4.2px, 7px);
}

.hamburger-toggle.active .bar-2 {
  transform: rotateX(90deg);
}

.hamburger-toggle.active .bar-3 {
  transform: rotate(405deg) translate(-7.4px, -7px) scaleX(125%);
}

@media (max-width: 768px) {
  .hamburger-toggle {
    display: flex;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #f8f8f8;
    position: absolute;
    top: 50px;
    left: 0;
  }

  .nav-menu.active {
    display: flex;
  }

  .nav-menu li {
    margin: 10px 0;
    text-align: center;
  }
}

.logo {
  text-decoration: none;
  color: #333;
  position: absolute;
  font-weight: 600;
  font-style: normal;
  z-index: 10;
}

.line {
  padding: 30px;
  margin: 20px;
}

.content {
  background-color: #fff;
  padding: 30px;
  margin-top: 60px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

.timeline {
  max-width: 80vw;
  margin: auto;
  position: relative;
  z-index: 25;
  pointer-events: none;
}

.event {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
  align-items: start;
}

.year {
  width: 10vw;
  font-weight: bold;
  color: #555;
  padding-right: 0;
  justify-content: space-between;
  flex: 1;
}

.year h2 {
  text-align: left;
  pointer-events: auto;
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: nowrap;
}

/* 手機樣式 */
@media (max-width: 768px) {
  .year h2 {
    display: contents;
    /* 取消 Flexbox 佈局 */
  }

  .year h2 .part1,
  .year h2 .part2 {
    display: block;
    /* 強制換行 */
  }

  .year h2 .part2 {
    margin-top: 5px;
    /* 增加間距 */
  }
}

.word {
  flex: 1;
  padding-right: 10%;
  line-height: 24px;
  justify-content: space-between;
  pointer-events: none;
}

.word a {
  pointer-events: auto;
}

.word p {
  font-size: 14px;
  pointer-events: auto;
}

@media (max-width: 768px) {
  .event {
    flex-direction: column;
  }

  .year {
    order: 1;
  }

  .word {
    order: 2;
  }
}

h2 {
  margin: 0;
}

p {
  margin: 5px 0 0;
}

.event img {
  position: relative;
  top: 0;
  left: 0;
  width: 20vw;
  height: auto;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.event:hover img {
  opacity: 1;
  z-index: 35;
}

.footer_info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 10px;
  padding: 100px;
  position: absolute;
}

.footer_info-item {
  overflow: hidden;
}

.footer_info-item h3 {
  font-size: 12px;
  text-decoration: none;
  color: #333;
}

.footer_info-item p {
  font-size: 12px;
  text-decoration: none;
  color: #333;
}

.footer_info-item a {
  font-size: 12px;
  text-decoration: none;
  color: #333;
}

@media (max-width: 900px) {
  .footer_info {
    grid-template-columns: repeat(2, 1fr);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.8s ease-out forwards;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  padding-bottom: 15px;
}

.grid-item {
  overflow: hidden;
}

@media (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.spline-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
}

.spline-container iframe {
  width: 100%;
  height: 100%;
  position: absolute;
}

.typewriter {
  display: flex;
  justify-content: left;
}

.typewriter h2 {
  margin-inline: auto;
  overflow: hidden;
  white-space: nowrap;
  border-right: 1px solid;
  animation: typing 2s steps(9) forwards, blink 1s step-end 2s forwards;
  /* 2s 是 typing 動畫的持續時間 */
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink {
  0%,
  50% {
    border-color: black;
  }

  100% {
    border-color: transparent;
  }
}

.marquee-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 30px;
}

.marquee-container::before {
  content: "\00a0";
  display: block;
}

.scrolling {
  animation: marquee 20s linear infinite;
  display: block;
  min-width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
  font-size: 12px;
  text-decoration: none;
  color: #333;
}

@keyframes marquee {
  from {
    transform: translateX(100%) translateY(-50%);
  }

  to {
    transform: translateX(-100%) translateY(-50%);
  }
}

.scrolling:hover {
  animation-play-state: paused;
  cursor: pointer;
}