.content {
  background-color: #fff;
  padding: 30px;
  margin-top: 60px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.content h2 {
  font-size: clamp(1.4rem, 1.5vw, 1.6rem);
  color: #333;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: nowrap;
}

@media (max-width: 768px) {
  .content h2 {
    display: contents;
  }

  .content h2 .part1,
  .content h2 .part2 {
    display: block;
  }

  .content h2 .part2 {
    margin-top: 5px;
  }
}

.container {
  max-width: 2000px;
  margin: 0 auto;
  padding: 60px;
}

.grid_two {
  display: grid;
  grid-template-columns: 4fr 6fr 4fr 6fr;
  gap: 30px;
  padding-bottom: 30px;
  transition: gap 0.3s ease;
}

.grid_two-item {
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: border-radius 0.3s ease;
}

.grid_two-item img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  /* 確保圖片填滿，不變形 */
  display: block;
}

.grid_two:hover {
  gap: 0;
}

.grid_two:hover .grid_two-item {
  border-radius: 0;
}

.grid_two:hover .grid_two-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(188, 181, 181, 0.829);
  opacity: 1;
  pointer-events: none;
}

.grid_two-item::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(1.4rem, 1.5vw, 1.6rem);
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  /* 避免遮罩阻擋滑鼠事件 */
}

.grid_two-item:hover::after {
  opacity: 1;
}

@media (max-width: 900px) {
  .grid_two {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .grid_two {
    grid-template-columns: 1fr;
  }
}

.model {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  align-items: flex-end;
  padding: 10px;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.3s;
}

.grid-item:hover .mask {
  opacity: 1;
}

.mask p {
  font-size: clamp(1rem, 0.8vw, 1.1rem);
  text-align: left;
  padding: 10px;
  margin-top: auto;
}

.footer_info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 10px;
  padding: 100px;
  position: absolute;
}

.footer_info-item {
  overflow: hidden;
}

.footer_info-item h3 {
  font-size: clamp(1.4rem, 1.2vw, 2rem);
  text-decoration: none;
  color: #333;
}

.footer_info-item p {
  font-size: clamp(1rem, 0.8vw, 1.1rem);
  text-decoration: none;
  color: #333;
}

.footer_info-item a {
  font-size: clamp(1rem, 0.8vw, 1.1rem);
  text-decoration: none;
  color: #333;
}

@media (max-width: 900px) {
  .footer_info {
    grid-template-columns: repeat(2, 1fr);
  }
}

.spline-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

iframe {
  border-radius: 1%;
  width: 100%;
  height: 70%;
  position: absolute;
  top: 0;
  left: 0;
}

.overlay-text {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: clamp(1.4rem, 1.2vw, 2rem);
  font-weight: bold;
  z-index: 2;
}

.overlay-image {
  position: absolute;
  bottom: 210px;
  right: 20px;
  width: 150px;
  z-index: 2;
}

.marquee-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 30px;
}

.marquee-container::before {
  content: "\00a0";
  display: block;
}

.scrolling {
  animation: marquee 20s linear infinite;
  display: block;
  min-width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
  font-size: 12px;
  text-decoration: none;
  color: #333;
}

@keyframes marquee {
  from {
    transform: translateX(100%) translateY(-50%);
  }

  to {
    transform: translateX(-100%) translateY(-50%);
  }
}

.scrolling:hover {
  animation-play-state: paused;
  cursor: pointer;
}
